body, html {
	height: 100%;
	min-height: 100%;
}

body {
	position: relative;
	background-color: black;
}

a {
	color: #34495e;
}

a:hover {
	color: #3498db;
}

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav li a:hover,
.navbar-default .navbar-nav li a:focus,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-brand:hover {
	color: #3498db;
}

.navbar {
	height: 80px;
	background: rgba(255,255,255,0.9);
	transition: background-color 180ms linear;
	-webkit-transition: background-color 180ms linear;
	-moz-transition: background-color 180ms linear;
	-o-transition: background-color 180ms linear;
	-ms-transition: background-color 180ms linear;
}

.navbar.prescrolled {
	background: transparent;
}

.navbar-header {
	height: 80px;
}

.navbar-default .navbar-brand {
	font-family: 'Gochi Hand', cursive;
	font-size: 40px;
	font-weight: 600;
	margin-top: 6px;
	color: #34495e;
	transition: color 180ms linear;
	-webkit-transition: color 180ms linear;
	-moz-transition: color 180ms linear;
	-o-transition: color 180ms linear;
	-ms-transition: color 180ms linear;
}

.navbar-default.prescrolled .navbar-brand{
	color: white;
}

.navbar-nav {
	margin-top: 13px;
}

.navbar-default .navbar-nav li a {
	font-size: 24px;
	font-weight: 900;
}

.navbar-default.prescrolled .navbar-nav li a {
	color: white;
}

.navbar-toggle {
	margin-top: 13px;
}

.navbar-default .navbar-toggle::before {
	display: none !important;
}

.navbar-default .navbar-toggle .icon-bar {
	display: block;
	background-color: #34495e;
	height: 4px;
	width: 26px;
	border-radius: 3px;
}

.navbar-toggle .icon-bar + .icon-bar {
	margin-top: 3px;
}

/* Media Query relating to navbar width breakpoints: 767px */
@media only screen and (max-width: 767px) {
  .navbar-default .navbar-collapse {
    background-color: transparent;
    border-top-color: transparent;
  }
  .navbar-nav {
  	float: right;
  }
}

.sections-container {
	overflow-x: hidden;

}

.section-content {
	background-color: white;
	width: 100%;
}

.section-content-inner {
	background-color: white;
	max-width: 960px;
	margin-top: 0px;
	margin-left: auto;
	margin-right: auto;
	padding: 100px;
	text-align: left;
}

.section-content-inner h2{
	text-align: center;
}

/* Media Query relating to navbar width breakpoints: 767px */
@media only screen and (max-width: 767px){
	.section-content-inner {
		padding: 20px;
	}
}

.section-img-container {
	min-width: 768px;
    height: 600px;
}

/* Media Query relating to navbar width breakpoints: 767px */
@media only screen and (max-width: 767px) {
	.section-img-container {
        min-width: 960px;
		height: 360px; /*Default until resized by skrollr*/
		opacity: 1;
    }
}

.background-img {
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	height: 100%;
	width: 100%;
}

#about-pic .background-img {
	background-image:url('../img/about.jpg');
}

#work-pic .background-img {
	background-image:url('../img/work.jpg'); /* Image from ShenQ on dribble: http://drbl.in/lqwo */
}

#contact-pic .background-img {
	background-image:url('../img/contact.jpg');
}

.scrolldown-icon-container {
	position: absolute;
	top: 90%;
	left: 0%;
	width: 100%;
	text-align: center;
}

/* Media Query relating to navbar width breakpoints: 767px */
@media only screen and (max-width: 767px){
	.scrolldown-icon-container {
		display: none;
	}
}

.scrolldown-icon-container a {
	color: inherit;
}

.scrolldown-icon {
	font-size: 40px;

	/*Color Change Transitions*/
	transition: color 750ms ease-in-out;
	-webkit-transition: color 750ms ease-in-out;
	-moz-transition: color 750ms ease-in-out;
	-o-transition: color 750ms ease-in-out;
	-ms-transition: color 750ms ease-in-out;

	/*Standard Animation*/
  	animation-duration: 1.5s;
  	animation-name: bob;
  	animation-iteration-count: infinite;
  	animation-direction: alternate;

	/*Mozilla Animation*/
	-moz-animation-duration: 1.5s;
  	-moz-animation-name: bob;
  	-moz-animation-iteration-count: infinite;
  	-moz-animation-direction: alternate;

  	/*Webkit Animation*/
  	-webkit-animation-duration: 1.5s;
  	-webkit-animation-name: bob;
  	-webkit-animation-iteration-count: infinite;
  	-webkit-animation-direction: alternate;

  	/*Opera Animation*/
  	-o-animation-duration: 1.5s;
  	-o-animation-name: bob;
  	-o-animation-iteration-count: infinite;
  	-o-animation-direction: alternate;

  	/*IE Animation*/
  	-ms-animation-duration: 1.5s;
  	-ms-animation-name: bob;
  	-ms-animation-iteration-count: infinite;
  	-ms-animation-direction: alternate;
}

.scrolldown-icon.transparent {
	color: transparent;
}

/*Standard Animation Keyframes*/
@keyframes bob {
  from {
    padding-top: 0px;
  }

  to {
    padding-top: 30px;
  }
}

/*Mozilla Animation Keyframes*/
@-moz-keyframes bob {
  from {
    padding-top: 0px;
  }

  to {
    padding-top: 30px;
  }
}

/*Webkit Animation Keyframes*/
@-webkit-keyframes bob {
  from {
    padding-top: 0px;
  }

  to {
    padding-top: 30px;
  }
}

/*Opera Animation Keyframes*/
@-o-keyframes bob {
  from {
    padding-top: 0px;
  }

  to {
    padding-top: 30px;
  }
}

/*IE Animation Keyframes*/
@-ms-keyframes bob {
  from {
    padding-top: 0px;
  }

  to {
    padding-top: 30px;
  }
}

.profile-pic {
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/* Media Query relating to navbar width breakpoints: 767px */
@media only screen and (max-width: 767px){
	.profile-pic {
		width: 150px;
	}
}

.panel.panel-default.project-container {
	border: none;
	border-radius: 15px;
	margin-top: 40px;
}

/* Media Query relating to project-img width breakpoints: 1074px */
@media only screen and (max-width: 1074px){
	.project-content h6 {
		font-size: 18px;
	}

	.project-content {
		text-align: left !important;
	}

	.project-img {
		width: inherit;
		background-size: auto !important;
	}
}

.project-img {
	margin-left: auto;
	margin-right: auto;
	height: 380px;
	background-repeat: no-repeat;
	background-size: contain;
	border-radius: 15px;
	box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.26);
}

.project-content {
	text-align: center;
	padding-top: 10px;
	padding-bottom: 40px;
	vertical-align: middle;
	color: white;
}

#parentteacher.project-container {
	background-color: #1abc9c;
}
#parentteacher .project-img {
	background-image:url('../img/parentteacher.jpg');
}
/* Media Query relating to project-img width breakpoints: 1074px */
/* Styles for centering the image properly when zoomed in. Configure these every time you change the image!!! */
@media only screen and (max-width: 1074px) {
	#parentteacher .project-img {
		background-position: top center;
	}
}

#chatroom.project-container {
	background-color: #12c700;
}
#chatroom .project-img {
	background-image:url('../img/chatroom.jpg');
}
/* Media Query relating to project-img width breakpoints: 1074px */
/* Styles for centering the image properly when zoomed in. Configure these every time you change the image!!! */
@media only screen and (max-width: 1074px) {
	#chatroom .project-img {
		background-position: 10% 0%;
	}
}

#contact .section-content-inner {
	text-align: center;
}

.contact-icon {
    width: 70px;
    height: 70px;
    display: inline-block;
    vertical-align: middle;
}

.contact-icon path {
    fill: #34495e;
}

.contact-icon:hover path,
.contact-icon:focus path {
    fill: #3498db;
}